<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Ver Factura</title>
</h:head>
<body style="font-size: 70%">

<p:linkButton outcome="facturas" value="Regresar a facturas" style="margin-right:20px;" icon="pi pi-arrow-left"></p:linkButton>
	<h:panelGrid id="panel1">
		<h2>FACTURA</h2>
		<p:panel header="Datos del cliente:" style="width:800px">
			<h:panelGrid columns="2">
				<h:outputText value="Cédula:" />
				<h:outputText value="#{beanSupervisor.facturaCabTmp.cedulaCliente.cedulaCliente}" />
				<h:outputText value="Nombres:" />
				<h:outputText
					value="#{beanSupervisor.facturaCabTmp.cedulaCliente.nombres} #{beanSupervisor.facturaCabTmp.cedulaCliente.apellidos}" />
			</h:panelGrid>
		</p:panel>
		<p:panel header="Información de factura:" style="width:800px">
			<h:panelGrid columns="2">
				<h:outputText value="Número:" />
				<h:outputText value="#{beanSupervisor.facturaCabTmp.numeroFactura}" />
				<h:outputText value="Fecha de emisión:" />
				<h:outputText value="#{beanSupervisor.facturaCabTmp.fechaEmision}" >
					<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
				</h:outputText>
			</h:panelGrid>
		</p:panel>
		<p:panel header="Detalle de productos:" style="width:800px">
			<p:dataTable value="#{beanSupervisor.facturaCabTmp.facturaDets}" var="det">
				<p:column headerText="PRODUCTO">
					<h:outputText value="#{det.producto.nombre}" />
				</p:column>
				<p:column headerText="DETALLE">
					<h:outputText value="#{det.producto.descripcion}" />
				</p:column>
				<p:column headerText="CANTIDAD" style="width:180px;text-align:right">
					<h:outputText value="#{det.cantidad}" />
					<f:facet name="footer">
						<h:outputText value="Subtotal:" /><br/>
						<h:outputText value="Base cero:" /><br/>
						<h:outputText value="Iva:" /><br/>
						<h:outputText value="Total:" />
					</f:facet>
				</p:column>
				<p:column headerText="PRECIO" style="width:60px;text-align:right">
					<h:outputText value="#{det.producto.precioUnitario}" />
					<f:facet name="footer">
						<h:outputText value="#{beanSupervisor.facturaCabTmp.subtotal}">
							<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
						</h:outputText><br></br>
						<h:outputText value="#{beanSupervisor.facturaCabTmp.baseCero}">
							<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
						</h:outputText><br></br>
						<h:outputText value="#{beanSupervisor.facturaCabTmp.valorIva}">
							<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
						</h:outputText><br></br>
						<h:outputText value="#{beanSupervisor.facturaCabTmp.total}">
							<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
						</h:outputText>
					</f:facet>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:panelGrid>
	<p:commandButton value="Print" type="button" icon="pi pi-print"
		style="display:block;margin-bottom: 20px">
		<p:printer target=":panel1" />
	</p:commandButton>
</body>
</html>
