<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Búsqueda de solicitudes</title>
</h:head>
<body style="font-size: 70%">
	<h:form>
		<p:menubar>
			<p:menuitem value="Productos" icon="pi pi-check-square"
				action="productos"></p:menuitem>
			<p:menuitem value="Facturas" icon="pi pi-file-o" action="facturas"></p:menuitem>
			<p:menuitem value="Parámetros" icon="pi pi-align-justify"
				action="parametros"></p:menuitem>
			<f:facet name="options">
				<p:commandButton value="Salir" action="#{beanLogin.salirSistema()}"
					icon="pi pi-sign-out" />
			</f:facet>
		</p:menubar>
	</h:form>
	<br />
	<h:form id="form1">
		<p:panelGrid columns="3">
			<f:facet name="header">
				<h:outputText value="BÚSQUEDA" />
			</f:facet>
			<h:outputText value="Fecha inicio" />
			<h:outputText value="Fecha fin" />
			<h:outputText value="" />
			<p:calendar value="#{beanSupervisor.fechaInicio}" />
			<p:calendar value="#{beanSupervisor.fechaFinal}" />
			<p:commandButton icon="pi pi-search" value="Buscar"
				update=":form2:panel1" action="#{beanSupervisor.actionBuscar()}" />



		</p:panelGrid>
	</h:form>
	<br />
	<p:messages id="mensajes"></p:messages>
	<h:form id="form2">
		<p:panel header="Resultado de la búsqueda:" id="panel1">
			<p:dataTable value="#{beanSupervisor.listaPedidoCab}" var="pc"
				paginator="true" rows="6" id="tabla1">

	

				<p:column id="col1" filterBy="#{pc.numeroPedido}"
					filterStyle="width:120px" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="NUMERO"></h:outputText>
					</f:facet>
					<h:outputText value="#{pc.numeroPedido}"></h:outputText>
				</p:column>
				
				<p:column headerText="CLIENTE">
					<h:outputText value="#{pc.cedulaCliente.nombres}" />
					<h:outputText value="  " />
					<h:outputText value="#{pc.cedulaCliente.apellidos}" />
				</p:column>	

				<p:column id="col2" filterBy="#{pc.cedulaCliente.cedulaCliente}"
					filterStyle="width:120px" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="CEDULA CLIENTE"></h:outputText>
					</f:facet>
					<h:outputText value="#{pc.cedulaCliente.cedulaCliente}"></h:outputText>
				</p:column>


				<p:column id="col3" filterBy="#{pc.fechaPedido}"
					filterStyle="width:120px" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="FECHA PEDIDO"></h:outputText>
					</f:facet>
					<h:outputText value="#{pc.fechaPedido}"></h:outputText>
				</p:column>

			
				<p:column headerText="SUBTOTAL">
					<h:outputText value="#{pc.subtotal}">
						<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
					</h:outputText>
				</p:column>

				<p:column headerText="ESTADO"
					sortBy="#{pc.estadoPedido.descripcionEstado}"
					filterBy="#{pc.estadoPedido.descripcionEstado}"
					filterMatchMode="contains">
					<h:outputText value="#{pc.estadoPedido.descripcionEstado}" />
				</p:column>

				<p:column headerText="VER">
					<p:commandButton action="#{beanSupervisor.actionCargarPedido(pc)}"
						icon="pi pi-eye" update=":form2:dlg1"
						oncomplete="PF('dialogo1').show()" />
				</p:column>


				<p:column headerText="DESPACHAR">
					<p:commandButton update=":form2:panel1,:mensajes"
						action="#{beanSupervisor.actionDespacharPedido(pc)}"
						icon="pi pi-send" styleClass="ui-button-success">
						<p:confirm header="Confirmar"
							message="¿Desea despachar este pedido?"
							icon="pi pi-exclamation-triangle" />
					</p:commandButton>


					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
						responsive="true" width="350">
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no ui-button-flat" />
						<p:commandButton value="Yes" type="button"
							styleClass="ui-confirmdialog-yes" />
					</p:confirmDialog>
				</p:column>
				
				<p:column headerText="ANULAR">
								  <p:commandButton update=":form2:panel1,:mensajes"
						action="#{beanSupervisor.actionCancelarPedido(pc)}"
						icon="pi pi-times-circle" styleClass="ui-button-danger">
						<p:confirm header="Confirmar" message="¿Desea cancelar este pedido?" icon="pi pi-exclamation-triangle" />
					</p:commandButton>
					
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" responsive="true" width="350">
            			<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
            			<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" />
        			</p:confirmDialog>
				</p:column>
				
			</p:dataTable>
		</p:panel>
		<p:dialog header="INFORMACIÓN" widgetVar="dialogo1" modal="true"
			id="dlg1">
			<p:panel id="detallePedido" header="Información del pedido"
				style="width:500px">
				<h:panelGrid columns="2">
					<h:outputText value="Pedido:" />
					<h:outputText value="#{beanSupervisor.pedidoCabTmp.numeroPedido}" />
					<h:outputText value="Fecha pedido:" />
					<h:outputText value="#{beanSupervisor.pedidoCabTmp.fechaPedido}" />
					<h:outputText value="Cliente:" />
					<h:outputText
						value="#{beanSupervisor.pedidoCabTmp.cedulaCliente.cedulaCliente}" />
					<h:outputText value="Subtotal:" />
					<h:outputText value="#{beanSupervisor.pedidoCabTmp.subtotal}">
						<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
					</h:outputText>
				</h:panelGrid>
			</p:panel>
		</p:dialog>
	</h:form>
</body>
</html>