<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Parámetros</title>
</h:head>
<body style="font-size:50%">
	<h:form id="form1">
	
	<p:commandButton value="Regresar" action="index" 
					icon="pi pi-arrow-left" />
				<br></br>
				<br></br>
		<p:dataTable value="#{beanParametro.listaParametros}"
			var="p" id="tablaParametros"  style="width:600px">
			<f:facet name="header">
				<h:outputText value="Parámetros del sistema" />
			</f:facet>
			<p:column id="col1" style="width:300px">
				<f:facet name="header">
					<h:outputText value="PÁRAMETRO"></h:outputText>
				</f:facet>
				<h:outputText value="#{p.nombreParametro}"></h:outputText>
			</p:column>
			<p:column id="col2" style="width:300px">
				<f:facet name="header">
					<h:outputText value="VALOR"></h:outputText>
				</f:facet>
				<h:outputText value="#{p.valorParametro}"></h:outputText>
			</p:column>

			<p:column headerText="OPCIONES" id="col3" style="width:300px">
				<p:commandButton icon="pi pi-pencil" title="editar"
				actionListener="#{beanParametro.actionListenerCargarParametro(p)}"
					oncomplete="PF('dialogoEdicion').show()" update=":formEdicion" />
			</p:column>
		</p:dataTable>
	</h:form>
	<p:dialog header="Edición" widgetVar="dialogoEdicion">
		<h:form id="formEdicion">
			<p:panelGrid columns="2" layout="grid">
				<h:outputText value="#{beanParametro.edicionParametro.nombreParametro}" style="width:80px" />
				<p:inputText required="true" requiredMessage="Ingrese un valor"
				value="#{beanParametro.edicionParametro.valorParametro}"
					style="width:80px" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update="@form,:form1"
					actionListener="#{beanParametro.actionListenerGuardarEdicionaParametro()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</body>
</html>
