<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Insert title here</title>
</h:head>
<body>
	<p:panel header="Actualización de Cliente">
		<h:form>
			<p:panelGrid columns="2" id="panelGrid1" styleClass="ui-noborder">
				<h:outputText value="CEDULA:" />
				<h:panelGroup>
					<h:outputText value="#{beanCliente.cedula}" />
					<h:inputHidden value="#{beanCliente.cedula}" />
				</h:panelGroup>
				<h:outputText value="NOMBRE:" />
				<p:inputText value="#{beanCliente.nombres}"></p:inputText>
				<h:outputText value="APELLIDO :" />
				<p:inputText value="#{beanCliente.apellidos}"></p:inputText>
				<h:outputText value="DIRECCION:" />
				<p:inputText value="#{beanCliente.direccion}"></p:inputText>
				<p:messages></p:messages>
			</p:panelGrid>

			<p:commandButton value="Actualizar" icon="pi pi-check-square"
				action="#{beanCliente.actionActualizarCliente()}"
				update="panelGrid1">
				<p:confirm header="Confirmación"
					message="Desea actualizar este cliente?" icon="pi pi-info-circle" />
			</p:commandButton>
			<p:linkButton outcome="clientes" value="Regresar"
				icon="pi pi-caret-left" style="margin-right:20px;"></p:linkButton>
		</h:form>
	</p:panel>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes"
			emptyMessage="Registro actualizado correctamente." />
	</p:confirmDialog>
</body>
</html>