<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Clientes</title>
	<style>
.transparente {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity = 80);
	-khtml-opacity: 0.8;
}

body {
	heigh: 400px;
	background-image:
		url("https://blog.comparasoftware.com/wp-content/uploads/2021/02/tipos-de-clientes-de-ecommerce-1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
</style>
</h:head>
<body background="inventario/bodequero/electric.jpg"
	style="font-size: 70%">
	<h:form id="form1">
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Facturacion" icon="pi pi-book"
				action="facturacion" />
			<p:menuitem value="Facturas" icon="pi pi-book" action="facturas" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel class='transparente' header="Ingreso de Nuevo Cliente">
		<h:form>
			<p:panelGrid columns="2" id="panelGrid1">
				<h:outputText value="CEDULA:" />
				<p:inputText value="#{beanCliente.cedula}"></p:inputText>
				<h:outputText value="NOMBRES:" />
				<p:inputText value="#{beanCliente.nombres}"></p:inputText>
				<h:outputText value="APELLIDOS:" />
				<p:inputText value="#{beanCliente.apellidos}"></p:inputText>
				<h:outputText value="DIRECCION:" />
				<p:inputText value="#{beanCliente.direccion}"></p:inputText>
				<p:messages></p:messages>
			</p:panelGrid>

			<p:commandButton value="Insertar" icon="pi pi-save"
				action="#{beanCliente.actionInsertarCliente()}"
				update=":form2,panelGrid1"></p:commandButton>
		</h:form>
	</p:panel>
	<h:form class='transparente' id="form2">
		<p:messages></p:messages>
		<p:dataTable border="1" value="#{beanCliente.listaCliente}" var="p"
			paginator="true" rows="6" id="tabla1">
			<p:column headerText="CEDULA">
				<h:outputText value="#{p.cedulaCliente}"></h:outputText>
			</p:column>
			<p:column headerText="NOMBRE">
				<h:outputText value="#{p.nombres}#{p.apellidos}"></h:outputText>
			</p:column>

			<p:column headerText="DIRECCION">
				<h:outputText value="#{p.direccion}"></h:outputText>
			</p:column>
			<p:column headerText="ELIMINAR">
				<p:commandButton icon="pi pi-times"
					action="#{beanCliente.actionEliminarCliente(p)}" update="form2"></p:commandButton>
			</p:column>
			<p:column headerText="ACTUALIZAR">
				<p:commandButton icon="pi pi-refresh"
					action="#{beanCliente.actionCargarCliente(p)}" update="form2"></p:commandButton>
			</p:column>
		</p:dataTable>
	</h:form>
</body>
</html>