<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Facturas</title>
</h:head>
<body style="font-size: 60%">
	<br />
	<h:form id="formb">
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Clientes" icon="pi pi-book" action="clientes" />
			<p:menuitem value="Facturacion" icon="pi pi-book"
				action="facturacion" />
			<p:menuitem value="Facturas" icon="pi pi-file-o" action="facturas" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:panelGrid columns="3">
			<f:facet name="header">
				<h:outputText value="BÚSQUEDA" />
			</f:facet>
			<h:outputText value="Fecha inicio" />
			<h:outputText value="Fecha fin" />
			<h:outputText value="" />
			<p:calendar value="#{beanSupervisor.fechaInicio}" />
			<p:calendar value="#{beanSupervisor.fechaFinal}" />
			<p:commandButton icon="pi pi-search" value="Buscar" />



		</p:panelGrid>
	</h:form>
	<br />
	<h:form id="form1">

		<p:dataTable value="#{beanFactura.listaFacturasCab}" var="f"
			id="tablaFacturas" paginator="true" rows="5">
			<f:facet name="header">
				<h:outputText value="Listado de facturas" />
			</f:facet>
			<p:column id="col1" filterBy="#{f.numeroFactura}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Nro"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.numeroFactura}"></h:outputText>
			</p:column>
			<p:column id="col2" filterBy="#{f.cedulaCliente.cedulaCliente}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Cédula Cliente"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.cedulaCliente.cedulaCliente}"></h:outputText>
			</p:column>
			<p:column id="col3"
				filterBy="#{f.cedulaCliente.apellidos} #{f.cedulaCliente.nombres}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Nombres Clientes"></h:outputText>
				</f:facet>
				<h:outputText
					value="#{f.cedulaCliente.apellidos} #{f.cedulaCliente.nombres}"></h:outputText>
			</p:column>
			<p:column id="col4">
				<f:facet name="header">
					<h:outputText value="Fecha"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.fechaEmision}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>
			<p:column id="col5">
				<f:facet name="header">
					<h:outputText value="Subtotal"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.subtotal}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</h:outputText>
			</p:column>
			<p:column id="col6">
				<f:facet name="header">
					<h:outputText value="Iva"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.valorIva}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</h:outputText>
			</p:column>
			<p:column id="col7">
				<f:facet name="header">
					<h:outputText value="TotaL"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.total}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</h:outputText>
			</p:column>
			<p:column id="col8">
				<f:facet name="header">
					<h:outputText value="Detalles"></h:outputText>
				</f:facet>
				<h:dataTable value="#{f.facturaDets}" var="fd">
					<h:column>
						<h:outputText value="#{fd.producto.nombre}" />
					</h:column>
				</h:dataTable>
			</p:column>

			<p:column id="col9" headerText="Ver">
				<p:commandButton action="#{beanSupervisor.actionCargarFactura(f)}"
					icon="pi pi-eye" />
			</p:column>

		</p:dataTable>
	</h:form>
</body>
</html>