<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Facturacion</title>
	<style>
.transparente {
	opacity: 0.8;
	-moz-opacity: 0.8;
	filter: alpha(opacity = 80);
	-khtml-opacity: 0.8;
}
body {
  heigh:400px;
  background-image: url("https://i.ytimg.com/vi/bMpTeSqO0Jo/maxresdefault.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
</style>
</h:head>
<body style="font-size: 70%">
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<p:menuitem value="Clientes" icon="pi pi-book" action="clientes" />
			<p:menuitem value="Facturacion" icon="pi pi-book"
				action="facturacion" />
			<p:menuitem value="Facturas" icon="pi pi-file-o" action="facturas" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<br />
	<p:panel class='transparente' id="panel1">
		<h:form id="form2">
			<p:panel header="Datos de la factura">
				<p:commandButton action="#{beanFactura.crearNuevaFactura()}"
					value="Crear nueva factura" update="form2 :form3"
					icon="pi pi-bookmark" />
				<p:panelGrid columns="2">
					<h:outputText value="Nro. de factura:" style="font-weight: bold" />
					<h:outputText value="#{beanFactura.facturaCabTmp.numeroFactura}" />
					<h:outputText value="Fecha de la factura:"
						style="font-weight: bold" />
					<h:outputText value="#{beanFactura.facturaCabTmp.fechaEmision}">
						<f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss" />
					</h:outputText>
					<h:outputText value="Vendedor:" style="font-weight: bold" />
					<h:outputText value="#{beanSegLogin.idSegUsuario}" />
					<h:outputText value="Seleccione el cliente:"
						style="font-weight: bold" />
					<h:panelGroup>
						<p:selectOneMenu value="#{beanFactura.cedulaCliente}">
							<f:selectItem itemLabel="Seleccione..." itemValue=""
								noSelectionOption="true" />
							<f:selectItems value="#{beanFactura.listaClientesSI}" />
							<p:ajax update="cedulaCliente,mensajes"
								listener="#{beanFactura.asignarCliente()}"></p:ajax>
						</p:selectOneMenu>
					</h:panelGroup>
					<h:outputText value="Codigo del cliente:" style="font-weight: bold" />
					<h:outputText id="cedulaCliente"
						value="#{beanFactura.cedulaCliente}" />
					<p:commandButton icon="pi pi-check-circle" value="Guardar factura"
						update="form2"
						actionListener="#{beanFactura.guardarFactura(beanSegLogin.idSegUsuario)}">
						<p:confirm header="Confirmación"
							message="Esta seguro de guardar la factura?"
							icon="pi pi-info-circle" />
					</p:commandButton>

					<p:messages id="mensajes" />
					<p:commandButton value="Imprimir"
						rendered="#{beanFactura.facturaCabTmpGuardada}" type="button"
						icon="pi pi-print">
						<p:printer target=":panel1" />
					</p:commandButton>
				</p:panelGrid>
			</p:panel>
		</h:form>
		<h:form class='transparente' id="form3">
			<p:panel header="Detalle de productos">
				<p:panelGrid columns="6" border="1">
					<h:outputText value="Producto:" />
					<p:selectOneMenu value="#{beanFactura.codigoProducto}">
						<f:selectItem itemLabel="Seleccione un producto..." itemValue="-1" />
						<f:selectItems value="#{beanFactura.listaProductosSI}" />
						<p:ajax update="mensajes2, existencia"
							listener="#{beanFactura.verificarExistencia()}"></p:ajax>
					</p:selectOneMenu>
					<h:outputText id="cantidad" value="Cantidad:" />
					<p:spinner value="#{beanFactura.cantidadProducto}" min="1"></p:spinner>
					<h:outputText id="existencia"
						value="Existencia: #{beanFactura.cantExistenciaProducto}" />
					<p:commandButton value="adicionar"
						actionListener="#{beanFactura.insertarDetalle}" update="form3"
						icon="pi pi-plus" />
				</p:panelGrid>
				<p:messages id="mensajes2"></p:messages>
				<p:dataTable value="#{beanFactura.facturaCabTmp.facturaDets}"
					var="d" id="tablaFacturaDets" rowIndexVar="rowId">
					<f:facet name="header">
						<h:outputText value="Detalle de productos:" />
					</f:facet>
					<p:column style="width:60px">
						<f:facet name="header">
					CODIGO
				</f:facet>
						<h:outputText value="#{d.producto.codigoProducto}" />
					</p:column>
					<p:column>
						<f:facet name="header">
					PRODUCTO
				</f:facet>
						<h:outputText value="#{d.producto.nombre}" />
					</p:column>
					<p:column>
						<f:facet name="header">
					DESCRIPCION
				</f:facet>
						<h:outputText value="#{d.producto.descripcion}" />
					</p:column>
					<p:column style="width:100px">
						<f:facet name="header">
					P/U
				</f:facet>
						<h:outputText value="#{d.precioUnitarioVenta}" />
					</p:column>
					<p:column style="width:40px">
						<f:facet name="header">
					CANT
				</f:facet>
						<h:outputText value="#{d.cantidad}" />
					</p:column>
					<p:column style="width:120px;text-align:right">
						<f:facet name="header">
							SUBTOTAL
						</f:facet>
						<h:outputText value="#{d.precioUnitarioVenta * d.cantidad}"
							style="text-align:right" />
						<f:facet name="footer">
							<h:panelGrid columns="2"
								style="font-weight: bold; text-align:right">
								<h:outputText value="SUMA:" />
								<h:outputText value="#{beanFactura.facturaCabTmp.subtotal}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2"
										currencySymbol="$" />
								</h:outputText>
								<h:outputText value="IVA:" />
								<h:outputText value="#{beanFactura.facturaCabTmp.valorIva}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2"
										currencySymbol="$" />
								</h:outputText>
								<h:outputText value="TOTAL:" />
								<h:outputText value="#{beanFactura.facturaCabTmp.total}">
									<f:convertNumber maxFractionDigits="2" minFractionDigits="2"
										currencySymbol="$" />
								</h:outputText>
							</h:panelGrid>
						</f:facet>
					</p:column>

					<p:column style="width:120px;text-align:right">
						<f:facet name="header">
							Opciones
						</f:facet>

						<p:commandButton update="form3" icon="pi pi-times"
							action="#{beanFactura.eliminarDetalle(rowId)}" />

					</p:column>

				</p:dataTable>
			</p:panel>
		</h:form>
	</p:panel>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Yes" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
