<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
</h:head>
<body>
	<div align="center">
		<p:messages>
			<p:autoUpdate />
		</p:messages>
		<h:form>
			<img
				src="https://antillon.com.gt/index/wp-content/uploads/2020/05/material-electrico-antillon-web.jpg"
				width="400" height="341" />
			<p:panel>
				<p:panelGrid columns="2">

					<h:outputText value="Id de usuario:" />
					<p:inputText value="#{beanSegLogin.idSegUsuario}" />
					<h:outputText value="Clave:" />
					<p:password value="#{beanSegLogin.clave}" />
					<p:commandButton value="Login"
						action="#{beanSegLogin.actionLogin()}" icon="pi pi-key"></p:commandButton>
				</p:panelGrid>
			</p:panel>
		</h:form>
		<h:form>
			<p:panel>
				<p:panelGrid columns="2">
					<h:outputText value="Inicializar datos" />
					<p:commandButton value="Inicializar"
						actionListener="#{beanSegLogin.actionListenerInicialiarDemo()}"
						icon="pi pi-cog">
						<p:confirm type="popup" header="Confirmation"
							message="Desea inicializar datos?"
							icon="pi pi-exclamation-triangle" />
					</p:commandButton>
				</p:panelGrid>
			</p:panel>
		</h:form>
	</div>
	<p:confirmPopup global="true">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirm-popup-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirm-popup-yes" />
	</p:confirmPopup>
</body>
</html>
