<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Comprobacion clientes</title>
</h:head>
<body style="font-size: 70%">
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<h:form>
		<p:panel header="Comprobación de clientes" id="panel1"
			style="text-align:center">
			<h:panelGrid columns="3" style="margin: 10px auto" cellpadding="5">
				<h:outputLabel value="Ingrese su cédula: " />
				<p:inputText id="cedula" value="#{beanPedidos.cedula}" size="10"
					maxlength="10" required="true"
					requiredMessage="Debe ingresar la cédula ." />
				<p:message for="cedula" />
				<p:commandButton action="#{beanPedidos.actionComprobarCedula()}"
					value="Siguiente" update="panel1" icon="pi pi-arrow-right"
					style="text-align:center" />
				<p:messages />
			</h:panelGrid>
		</p:panel>
	</h:form>
</body>
</html>
