<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Lista de Facturas</title>
</h:head>
<body style="font-size: 70%">
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:panel style="text-align:right">
			<p:commandButton value="Regresar" icon="pi pi-sign-out"
				action="pedido" />
		</p:panel>
	</h:form>
	<p:panel header="Datos del Cliente:">
		<h:outputText
			value="#{beanPedidos.nombres} #{beanPedidos.apellidos} - #{beanPedidos.direccion}" />
	</p:panel>
	<br />
	<h:form id="form1">
		<p:dataTable
			value="#{beanFactura.getListaFacturasCliente(beanPedidos.cedula)}"
			var="f" id="tablaFacturas" paginator="true" rows="5">
			<f:facet name="header">
				<h:outputText value="Listado de facturas" />
			</f:facet>
			<p:column id="col1" filterBy="#{f.numeroFactura}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Nro"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.numeroFactura}"></h:outputText>
			</p:column>
			<p:column id="col2" filterBy="#{f.cedulaCliente.cedulaCliente}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Cédula Cliente"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.cedulaCliente.cedulaCliente}"></h:outputText>
			</p:column>
			<p:column id="col3"
				filterBy="#{f.cedulaCliente.apellidos} #{f.cedulaCliente.nombres}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Nombres Clientes"></h:outputText>
				</f:facet>
				<h:outputText
					value="#{f.cedulaCliente.apellidos} #{f.cedulaCliente.nombres}"></h:outputText>
			</p:column>
			<p:column id="col4">
				<f:facet name="header">
					<h:outputText value="Fecha"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.fechaEmision}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>
			<p:column id="col5">
				<f:facet name="header">
					<h:outputText value="Subtotal"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.subtotal}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</h:outputText>
			</p:column>
			<p:column id="col6">
				<f:facet name="header">
					<h:outputText value="Iva"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.valorIva}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</h:outputText>
			</p:column>
			<p:column id="col7">
				<f:facet name="header">
					<h:outputText value="TotaL"></h:outputText>
				</f:facet>
				<h:outputText value="#{f.total}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</h:outputText>
			</p:column>
		</p:dataTable>
	</h:form>

</body>
</html>