<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Lista de Pedidos</title>
</h:head>
<body style="font-size: 70%">
	<p:menubar>
		<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
		<f:facet name="options">
			<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
				icon="pi pi-user">
				<p:menuitem value="Perfil"></p:menuitem>
				<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
					action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
			</p:menuButton>
		</f:facet>
	</p:menubar>
	<p:growl>
		<p:autoUpdate />
	</p:growl>

	<h:form>
		<p:panel style="text-align:right">
			<p:commandButton value="Regresar" icon="pi pi-sign-out"
				action="pedido" />

		</p:panel>
	</h:form>
	<p:panel header="Datos del Cliente:">
		<h:outputText
			value="#{beanPedidos.nombres} #{beanPedidos.apellidos} - #{beanPedidos.direccion}" />
	</p:panel>
	<br />
	<h:form id="form1">
		<p:dataTable
			value="#{beanPedidos.getListaPedidosCliente(beanPedidos.cedula)}"
			var="p" id="tablaPedidos" paginator="true" rows="5">
			<f:facet name="header">
				<h:outputText value="Listado de Pedidos" />
			</f:facet>
			<p:column id="col1" filterBy="#{p.numeroPedido}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Nro"></h:outputText>
				</f:facet>
				<h:outputText value="#{p.numeroPedido}"></h:outputText>
			</p:column>
			<p:column id="col4">
				<f:facet name="header">
					<h:outputText value="Fecha de Pedido"></h:outputText>
				</f:facet>
				<h:outputText value="#{p.fechaPedido}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>
			<p:column id="col3" filterBy="#{p.cedulaCliente.cedulaCliente}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Cédula Clientes"></h:outputText>
				</f:facet>
				<h:outputText value="#{p.cedulaCliente.cedulaCliente}"></h:outputText>
			</p:column>
			<p:column id="col9"
				filterBy="#{p.cedulaCliente.apellidos} #{p.cedulaCliente.nombres}"
				filterStyle="width:120px" filterMatchMode="contains">
				<f:facet name="header">
					<h:outputText value="Nombres Clientes"></h:outputText>
				</f:facet>
				<h:outputText
					value="#{p.cedulaCliente.apellidos} #{p.cedulaCliente.nombres}"></h:outputText>
			</p:column>
			<p:column id="col8">
				<f:facet name="header">
					<h:outputText value="Descripcion del Pedido"></h:outputText>
				</f:facet>
				<h:dataTable value="#{p.pedidoDets}" var="pcd">
					<h:column>
						<h:outputText value="#{pcd.producto.descripcion}" />
					</h:column>
				</h:dataTable>
			</p:column>
			<p:column id="col5">
				<f:facet name="header">
					<h:outputText value="Subtotal"></h:outputText>
				</f:facet>
				<h:outputText value="$" />
				<h:outputText value="#{p.subtotal}">
					<f:convertNumber maxFractionDigits="2" minFractionDigits="2" />
				</h:outputText>
			</p:column>
		</p:dataTable>
	</h:form>

</body>
</html>