<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Pedido</title>
</h:head>
<body style="font-size: 70%">
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="index" />
			<p:menuitem value="Ver Facturas" icon="pi pi-file-o"
				action="listafacturas"></p:menuitem>
			<p:menuitem value="Ver Pedidos" icon="pi pi-file-o"
				action="listaPedidos"></p:menuitem>
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel header="Datos del Cliente:">
		<h:outputText
			value="#{beanPedidos.nombres} #{beanPedidos.apellidos} - #{beanPedidos.direccion}" />
	</p:panel>
	<br />
	<h:form id="form1">
		<p:dataGrid value="#{beanPedidos.listaProductosDTO}" var="p"
			columns="4" rows="8" paginator="true" rowsPerPageTemplate="4,8,12">
			<f:facet name="header">
				<h:outputText value="Seleccione los productos:" />
			</f:facet>
			<p:panel header="#{p.codigoProducto}">
				<h:panelGrid columns="1">
					<h:outputText value="#{p.nombre}" />
					<h:outputText value="$#{p.precioUnitario}" />
					<h:outputText value="#{p.descripcion}" />
					<p:spinner value="#{p.cantCarrito}" min="1"></p:spinner>
					<p:commandButton
						actionListener="#{beanPedidos.actionInsertarProducto(p)}"
						update=":form2:carrito" icon="pi pi-shopping-cart" />
				</h:panelGrid>
			</p:panel>
			<p:messages></p:messages>
		</p:dataGrid>
	</h:form>
	<br />
	<h:form id="form2">
		<p:messages></p:messages>
		<h:panelGrid columns="2" style="width:50%">
			<p:panel header="Carrito de compras:" id="carrito">
				<p:dataTable value="#{beanPedidos.pedidoCabTmp.pedidoDets}"
					var="det">
					<p:column headerText="Nombre Producto" style="width:60px">
						<h:outputText value="#{det.producto.nombre}" />
					</p:column>
					<p:column headerText="Precio Unitario"
						style="width:60px;text-align:right">
						<h:outputText value="#{det.producto.precioUnitario}" />
					</p:column>
					<p:column headerText="Cantidad" style="width:60px;text-align:right">
						<h:outputText value="#{det.cantidad}" />
					</p:column>
					<p:column headerText="Acciones">
						<p:commandButton icon="pi pi-trash"
							actionListener="#{beanPedidos.actionEliminarProducto(det)}"
							update="@form:carrito">
							<p:confirm header="Confirmar"
								message="¿Desea eliminar #{det.producto.nombre} del carrito de compras?"
								icon="pi pi-exclamation-triangle" />
						</p:commandButton>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
							responsive="true" width="350">
							<p:commandButton value="No" type="button"
								styleClass="ui-confirmdialog-no ui-button-flat" />
							<p:commandButton value="Si" type="button"
								styleClass="ui-confirmdialog-yes" />
						</p:confirmDialog>

					</p:column>
				</p:dataTable>
			</p:panel>
			<h:panelGrid style="text-align:center">
				<h:outputText value="Confirmar su pedido: " />
				<p:commandButton icon="pi pi-arrow-right" value="Continuar"
					action="#{beanPedidos.actionContinuar()}"></p:commandButton>
			</h:panelGrid>
		</h:panelGrid>
	</h:form>
</body>
</html>